<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiscordBotWithConsoleCommands.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiscordBotWithConsoleCommands.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DiscordBotWithConsoleCommands.Settings>
            <setting name="Token" serializeAs="String">
                <value>MjU5Mjk0NTUyMDU2MjY2NzUy.C4_dFQ.VQz_bYyZE1zEjTeDkpAFT3ofbX0</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Helper Bot</value>
            </setting>
        </DiscordBotWithConsoleCommands.Settings>
    </userSettings>
    <applicationSettings>
        <DiscordBotWithConsoleCommands.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.0.0.1</value>
            </setting>
        </DiscordBotWithConsoleCommands.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>